<div>
  <div class="row">
    <div class="large-12 columns">
  <h5 class="light">Food &amp; Drink</h5>
    </div>
  </div>
  
  <table class="patientTable">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Serving Time</th>
        <th>Frequency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Breakfast</td>
        <td><span ng-if="ctrl.patient.breakfastTime.value">{{ctrl.patient.breakfastTime.value}}</span></td>
        <td><span ng-if="ctrl.patient.breakfastFreq.value">{{ctrl.patient.breakfastFreq.value}}</span></td>
        <td></td>
      </tr>
      <tr>
        <td>Lunch</td>
        <td><span ng-if="ctrl.patient.lunchTime.value">{{ctrl.patient.lunchTime.value}}</span></td>
        <td><span ng-if="ctrl.patient.lunchFreq.value">{{ctrl.patient.lunchFreq.value}}</span></td>
        <td></td>
      </tr>
      <tr>
        <td>Dinner</td>
        <td><span ng-if="ctrl.patient.dinnerTime.value">{{ctrl.patient.dinnerTime.value}}</span></td>
        <td><span ng-if="ctrl.patient.dinnerFreq.value">{{ctrl.patient.dinnerFreq.value}}</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
<h5>Taste Preferences</h5>
  <ul class="tastePrefs">
    <li><span ng-if="ctrl.patient.saltyFood.value">{{ctrl.fromNum(ctrl.patient.saltyFood.value)}} prefers salty food</span></li>
    <li><span ng-if="ctrl.patient.healthyFood.value">{{ctrl.fromNum(ctrl.patient.healthyFood.value)}} health conscious</span></li>
    <li><span ng-if="ctrl.patient.healthyFood.value">Prefers food from {{ctrl.patient.ethnicFoodOrigin.value}} and {{ctrl.patient.ethnicFoodOrigin.value}}</span></li>
  </ul>
  <div class="break"></div>
  
  <h5>Drink Preferences</h5>
    <table class="patientTable">
    <thead>
      <tr>
        <th>Drink</th>
        <th>Time of Day</th>
        <th>Preparation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="drink in ctrl.patient.drinkPreferences.value">
        <td>{{drink.drink}}</td>
        <td>{{drink.timeOfDay}}</td>
        <td>{{drink.preperation}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="break"></div>

  <h4 class="light">Clothing Preferences</h4>
  <div class="row">
    <div ng-repeat="clothing in ctrl.patient.clothing.value" class="large-4 columns">
      <img src="{{clothing.src}}">
      <br>{{clothing.description}}
    </div>
    <div class="large-4 columns"></div>
  </div>
  
  <div class="break"></div>
  
  <h4 class="light">Hairstyle Preferences</h4>
  <div class="row">
    <div ng-repeat="hair in ctrl.patient.haircut.value" class="large-4 columns">
      <img src="{{hair.src}}">
      <br>{{hair.description}}
    </div>
  </div>
  
  <div class="break"></div>
    <h4 class="light">Personal Care Product Preferences</h4>
    <table class="patientTable">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Type of Product</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="ctrl.patient.dentureSolution.value">
        <td><span>{{ctrl.patient.dentureSolution.value}}</span></td>
        <td><span>Denture Solution</span></td>
        <td><span></span></td>
      </tr>
      <tr ng-if="ctrl.patient.shampoo.value">
        <td><span>{{ctrl.patient.shampoo.value}}</span></td>
        <td><span>{{ctrl.patient.shampoo.id}}</span></td>
        <td><span></span></td>
      </tr>
      <tr>
        <td ng-if="ctrl.patient.hairspray.value"><span>{{ctrl.patient.hairspray.value}}</span></td>
        <td ng-if="ctrl.patient.hairspray.value"><span>{{ctrl.patient.hairspray.id}}</span></td>
        <td ng-if="ctrl.patient.hairspray.value"><span></span></td>
      </tr>
      <tr ng-if="ctrl.patient.perfume.value">
        <td><span>{{ctrl.patient.perfume.value}}</span></td>
        <td><span>{{ctrl.patient.perfume.id}}</span></td>
        <td><span></span></td>
      </tr>
    </tbody>
  </table>
  
  <div class="break"></div>
  <h5 class="light">Personal Care Routines</h5>
    <table class="patientTable">
    <thead>
      <tr>
        <th>Type of Routine</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="ctrl.patient.bathingroutine.value">
        <td><span>My bathing routine is</span></td>
        <td><span>{{ctrl.patient.bathingroutine.value}}</span></td>
      </tr>
    </tbody>
  </table>
  <div class="break"></div>
</div>