<div>
  <h5 class="light" ng if="ctrl.patient.music.value">Favourite song or album</h5>
  <p><span ng if="ctrl.patient.music.value">{{ctrl.patient.music.value}}</span></p>
  
  <h5 class="light">Arts &amp; Culture</h5>
  <p><span ng if="ctrl.patient.art.value">{{ctrl.patient.art.value}}</span></p>
  
  <h5 class="light">Favourite Books</h5>
  <p><span ng if="ctrl.patient.books.value">{{ctrl.patient.books.value}}</span></p>
  
  <h5 class="light">Hobbies / Pasttimes</h5>
  <p><span ng if="ctrl.patient.hobbies.value">{{ctrl.patient.hobbies.value}}</span></p>
  
  <h5 class="light">Entertainment Preferences</h5>
  <p><span ng if="ctrl.patient.entertainment.value">{{ctrl.patient.entertainment.value}}</span></p>
</div>