<div>
  <h4 class="light" ng if="ctrl.patient.music.value">Favourite song or album</h4>
  <p><span ng if="ctrl.patient.music.value">{{ctrl.patient.music.value}}</span></p>
  <div class="break"></div>
  
  <h4 class="light">Arts &amp; Culture</h4>
  <p><span ng if="ctrl.patient.art.value">{{ctrl.patient.art.value}}</span></p>
  <div class="break"></div>
  
  <h4 class="light">Favourite Books</h4>
  <p><span ng if="ctrl.patient.books.value">{{ctrl.patient.books.value}}</span></p>
  <div class="break"></div>
  
  <h4 class="light">Hobbies / Pasttimes</h4>
  <p><span ng if="ctrl.patient.hobbies.value">{{ctrl.patient.hobbies.value}}</span></p>
  <div class="break"></div>
  
  <h4 class="light">Entertainment Preferences</h4>
  <p><span ng if="ctrl.patient.entertainment.value">{{ctrl.patient.entertainment.value}}</span></p>
  <div class="break"></div>
</div>