<div>
  <h4><i class="fa fa-user"></i> Patients</h4>
  <table class="patientTable">
    <thead>
      <tr>
        <th width="200">First Name</th>
        <th>Last Name</th>
        <th width="150">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(patientId, patient) in patientsCtrl.patients" ng-click="patientsCtrl.goToPatient(patient)">
        <td>{{patient.firstname.value}}</td>
        <td>{{patient.lastname.value}}</td>
        <td>{{patientsCtrl.moment.unix(patient.lastUpdated.value).format('MM/DD/YYYY')}}</td>
      </tr>
    </tbody>
  </table>
</div>