<div>
  <div class="row">
    <div class="large-7 columns">
  <h5 class="light">Childhood</h5>
  <blockquote>
    <span ng-if="ctrl.patient.lifeeventchild.value">&quot;{{ctrl.patient.lifeeventchild.value}}&quot;</span>
  </blockquote>
  
  <h5 class="light">Young Adulthood</h5>
  <blockquote>
    <span ng-if="ctrl.patient.lifeeventyoungadult.value">&quot;{{ctrl.patient.lifeeventyoungadult.value}}&quot;</span>
  </blockquote>
  
  <h5 class="light">Adulthood</h5>
  <blockquote>
    <span ng-if="ctrl.patient.lifeeventadult.value">&quot;{{ctrl.patient.lifeeventadult.value}}&quot;</span>
  </blockquote>
  </div>
  <div class="large-5 columns influencesBox">
    <h4 class="light">{{ctrl.patient.firstname.value}}'s Influences</h4>
    <p>Factors that {{ctrl.patient.firstname.value}} feels defines her:</p>
    <ul>
      <li>Faith</li>
      <li>Family</li>
      <li>Friends</li>
      <li>Hobbies &amp; Volunteering</li>
    </ul>
  </div>
</div>
<div class="break"></div>
</div>