<div class="blueBg">
<div class="nav navLogin">
  <div class="row">
    <div class="break"></div>
    <div class="large-5 columns">
      &nbsp;
    </div>
    <div class="large-2 columns text-center">
      <img src="assets/images/logo-lg.png">
    </div>
    <div class="large-5 columns">
    </div> 
  </div>
</div>

<div class="loginHeadline">
<div class="row">
  <div class="large-3 columns">
    &nbsp;
  </div>
  <div class="large-6 columns text-center">
    <h5 class="whiteText light">Preserving identity and dignity for all</h5>
  </div>
    <div class="large-3 columns">
    &nbsp;
  </div>
</div>
</div>

<div class="loginSection">
<div class="row">
  <div class="large-3 columns">
    &nbsp;
  </div>
  <div class="large-6 columns white loginBox">
    <form ng-submit="loginCtrl.login()">
      <input ng-model="loginCtrl.username" placeholder="username">
      <input type="password" ng-model="loginCtrl.password" placeholder="password">
      <input type="submit" ng-click="loginCtrl.login()" class="button large" value="Login">
      <p>{{loginCtrl.msg}}</p>
    </form>
  </div>
    <div class="large-3 columns">
    &nbsp;
  </div>
</div>
</div>
</div>