/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* HEADER STUFF */

.nav {
  background: #5783C4;	
  padding: 10px 0px 0px 0px;
}

.navLogin {
  background: #5783C4;	
  padding: 15px 0px;
}

.logo {
  width: 175px;
}

.logo-login {
  width: 125px;
}

.section {
  background: #eaeaea;
  padding: 25px 0px;
}

.multiSelect button {
  padding: 2px 6px 3px 6px !important;
}

.multiSelect .helperButton.reset {
  position: relative;
  top: 1px;
}



/* fonts */

@font-face {
    font-family: brandonText-regular;
    src: url(fonts/brandonText-regular.ttf);
}

@font-face {
    font-family: brandonText-light;
    src: url(fonts/brandonText-light.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'brandonText-regular', sans-serif;
  color: #444;
}

h4 {
  color: #5783C4;
}

body {
  font-family: 'brandonText-regular', sans-serif;
  color: #222;
  background: #eaeaea;
}

/* BUTTONS */

.button {
  background: transparent;
  color: #fff;
  box-shadow: 0;
  border: 1px solid #fff;
  font-family: 'brandonText-regular', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.button:hover {
  background: #fff;
  color: #5783C4;
}

.logout {
  margin-top: 10px;
}

.loginHeadline {
  padding: 50px 0px;
}

.loginSection {
  background: #eaeaea;
}

/* FORM STUFF */

input[type="submit"] {
  width: 100%;
  color: #5783C4;	
}

input:not([type]), input:not([password]) {
  height: 75px;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
}

:-ms-input-placeholder {  
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
}

.button.large {
  border: 1px solid #5783C4;	
  border-radius: 100px;
}

.button.large:hover {
  background: #5783C4;	
  color: #fff;
}

.button.large:focus {
  background: #5783C4;	
  color: #fff;
}

.button.round {
  border: 1px solid #fff;
  width: 125px;
  height: 50px;
}

.button.tiny {
  border: 1px solid #5783C4;
  width: 75px;
  height: 35px;
  color: #5783C4;
  border-radius: 50px;
}

/* TABLES */

table thead tr th {
  font-family: 'brandonText-regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

tr {
  background: #f7f7f7;
  height: 50px;
}

tr:hover {
  background: #eaeaea;
}

table tbody tr td, table tr td {
  font-size: 16px;
  color: #222;
}

table tr:nth-of-type(even):hover {
  background: #eaeaea;
}

.patientTable {
  width: 100%;
}

.break {
  padding: 10px;
}