/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* HEADER STUFF */

.nav {
  background: #5783C4;	
  padding: 10px 0px 0px 0px;
}

.navLogin {
  background: #5783C4;	
  padding: 15px 0px;
}

.logo {
  width: 175px;
}

.logo-login {
  width: 125px;
}

.section {
  background: #eaeaea;
  padding: 25px 0px;
}

.multiSelect button {
  padding: 2px 6px 3px 6px !important;
}

.multiSelect .helperButton.reset {
  position: relative;
  top: 1px;
}



/* fonts */

@font-face {
    font-family: brandonText-regular;
    src: url(fonts/brandonText-regular.ttf);
}

@font-face {
    font-family: brandonText-light;
    src: url(fonts/brandonText-light.ttf);
}

@font-face {
    font-family: brandonText-medium;
    src: url(fonts/brandonText-medium.ttf);
}

.medium {
  font-family: 'brandonText-medium', sans-serif;
}

.light {
  font-family: 'brandonText-light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'brandonText-regular', sans-serif;
  color: #444;
}

body {
  font-family: 'brandonText-regular', sans-serif;
  color: #222;
  background: #eaeaea;
}

body a {
  color: #5783C4;
}

body a:hover {
  color: #5783C4;
  border-bottom: 1px solid #5783C4;
}

.blue {
  color: #5783C4;
}

.blueBg { 
  background: #5783C4;
  height: 100vh;
}

/* BUTTONS */

.button {
  background: transparent;
  color: #fff;
  box-shadow: 0;
  border: 1px solid #fff;
  font-family: 'brandonText-regular', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.button:hover {
  background: #fff;
  color: #5783C4;
}

.logout {
  margin-top: 10px;
  white-space: nowrap;
}

.loginHeadline {
  padding: 10px 0px 30px 0px;
  background: #5783C4;
  color: #fff;
}

.loginSection {
  background: #5783C4;
}

.loginBox {
  border-radius: 5px;
}

/* FORM STUFF */

input[type="submit"] {
  width: 100%;
  color: #5783C4;	
}

input:not([type]), input:not([password]) {
/*  height: 80px;*/
  padding: 45px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 24px;
  border-left: 5px solid #5783C4;
}

::-webkit-input-placeholder {
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
  font-size: 24px;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
  font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
  font-size: 18px;
}

:-ms-input-placeholder {  
  font-family: 'brandonText-light', sans-serif;
  color: #939598;
  font-size: 18px;
}

.button.large {
  border: 1px solid #5783C4;	
  border-radius: 100px;
  background: #5783C4;
  color: #fff;
}

.button.large:hover {
  background: #5783C4;	
  color: #fff;
}

.button.large:focus {
  background: #5783C4;	
  color: #fff;
}

.button.round {
  border: 1px solid #fff;
  padding: 15px 20px;
}

.button.tiny {
  border: 1px solid #5783C4;
  color: #5783C4;
  border-radius: 50px;
  padding: 8px 12px;
}

/* TABLES */

table {
  border: 0;
}

table thead tr th {
  font-family: 'brandonText-regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  color: #336FC4;
  border-bottom: 2px solid #5783C4;
}

tr {
  background: #f7f7f7;
  height: 50px;
}

tr:hover {
  background: #FCF5D9;
}

table tbody tr td, table tr td {
  font-size: 16px;
  color: #222;
}

table tr:nth-of-type(even){
  background: #f2f2f2;
}

table tr:nth-of-type(even):hover {
  background: #FCF5D9;
}

.patientTable {
  width: 100%;
}

.break {
  padding: 10px;
}

.helloUser {
  color: #fff;
}

/* NAVIGATION */
.topNav {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.topNav li {
  display: inline;
  padding-right: 25px;
}

ul li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

ul li a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sidebar {
  padding-top: 25px;
  background: #fff;
}

.side-nav li a:not(.button) {
  background: #5783C4;
  color: #fff;
  font-family: 'brandonText-light', sans-serif;
  font-size: 16px;
  text-transform: none;
  letter-spacing: none;
  border: 0;
  border-radius: 5px;
}

.side-nav li a:not(.button):hover {
  background: #3C70AF;
  color: #fff;
}

.circle {
  border-radius: 50%;
}

.tabs {
  float: right;
}

.tabs .tab-title>a {
  display: block;
  background-color: #f8f8f8;
  color: #558BED;
  font-size: 1rem;
  padding: 7px 15px;
  font-size: 12px;
  background: transparent;
}

.tabs .tab-title>a {
  background: transparent;
}

.tabs .tab-title.active>a {
  background: transparent;
  color: #558BED;
}

.tabs a:hover {
  border: 0;
}

.white {
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
}

.whiteText {
  color: #fff;
  background: rgba(255,255,255,0.1);
  padding: 15px 10px;
  border-radius: 5px;
}

.yellow {
  color: #FFC522;
}