  <div class="row">
    <div class="large-3 columns sidebar text-center">
      <h4>{{formCtrl.currentPatient.firstname.value}} {{formCtrl.currentPatient.lastname.value}}</h4>
      <img src="http://placehold.it/200x200" class="circle">
      Rm {{formCtrl.currentPatient.roomnum.value}}
      <hr>
      <ul class="side-nav">
        <li><a ng-click="formCtrl.fieldFilter = 'Needs'">Daily Care</a></li>
        <li><a ng-click="formCtrl.fieldFilter = 'Preferences'">Preferences</a></li>
        <li><a ng-click="formCtrl.fieldFilter = 'Personhood'">Personhood</a></li>
      </ul>
    </div>
    <div class="large-9 columns">
<!--      <a ng-click="formCtrl.goBack()"><i class="fa fa-long-arrow-left blue"></i> Back</a>-->
      <div class="break"></div>
        <div ng-show="formCtrl.showChangeBanner" class="alert-box"><i class="fa fa-bell"></i>&nbsp; A change in the patient's data has occured<a ng-click="formCtrl.removeAlert()" class="close">&times;</a></div>
        <h4>{{formCtrl.getTitleFromFilter(formCtrl.fieldFilter)}}</h4>
        <input type="button" value="{{formCtrl.inEditMode ? 'view' : 'edit'}}" class="button tiny" ng-click="formCtrl.switchMode()">
        <form>
          <div ng-show="formCtrl.inEditMode || field.value" ng-repeat="(key, field) in formCtrl.getEditableProps(formCtrl.currentPatient)">
            <p>{{field.display}} <i ng-if="formCtrl.showChangeBanner && formCtrl.fieldWasChanged(field.id)" tooltip-title="{{formCtrl.getChangeText(field.id)}}" tooltips class="fa fa-info-circle"></i></p>
            <span ng-show="!formCtrl.inEditMode">{{field.value}}</span>
            <input ng-show="formCtrl.inEditMode" type="text" ng-if="!field.options" ng-disabled="!formCtrl.inEditMode" ng-model="field.value">
            <select ng-show="formCtrl.inEditMode" type="text" ng-if="field.options" ng-options="option for option in field.options" ng-disabled="!formCtrl.inEditMode" ng-model="field.value"></select>
          </div>
          <input ng-show="formCtrl.inEditMode" type="button" value="Save" ng-click="formCtrl.save()">
        </form>
    </div>
  </div>