  <div class="row">
    <div class="large-3 columns sidebar">
      <h5><i class="fa fa-user"></i> {{formCtrl.currentPatient.firstname.value}} {{formCtrl.currentPatient.lastname.value}} <input type="button" value="{{formCtrl.inEditMode ? 'view' : 'edit'}}" class="button tiny" ng-click="formCtrl.switchMode()"></h5>
      <img src="http://placehold.it/200x200" class="circle">
      <hr>
      <ul class="side-nav">
        <li><a ng-click="formCtrl.fieldFilter = 'Needs'">Daily Care</a></li>
        <li><a ng-click="formCtrl.fieldFilter = 'Preferences'">Preferences</a></li>
        <li><a ng-click="formCtrl.fieldFilter = 'Personhood'">Personhood</a></li>
      </ul>
    </div>
    <div class="large-9 columns">
<!--      <a ng-click="formCtrl.goBack()"><i class="fa fa-long-arrow-left blue"></i> Back</a>-->
      <div class="break"></div>
        <div ng-show="formCtrl.showChangeBanner" class="alert-box">A change in the patient's data has occured<a ng-click="formCtrl.removeAlert()" class="close">&times;</a></div>
        <form>
          <div ng-show="formCtrl.inEditMode || field.value" ng-repeat="(key, field) in formCtrl.getEditableProps(formCtrl.currentPatient)">
            <p>{{field.display}} <i ng-if="formCtrl.showChangeBanner && formCtrl.fieldWasChanged(field.id)" tooltip-title="{{formCtrl.getChangeText(field.id)}}" tooltips class="fa fa-info-circle"></i></p>
            <input type="text" ng-if="!field.options" ng-disabled="!formCtrl.inEditMode" ng-model="field.value">
            <select type="text" ng-if="field.options" ng-options="option for option in field.options" ng-disabled="!formCtrl.inEditMode" ng-model="field.value"></select>
          </div>
          <input ng-show="formCtrl.inEditMode" type="button" value="Save" ng-click="formCtrl.save()">
        </form>
    </div>
  </div>