<div class="nav">
  <div class="row">
    <div class="large-3 columns">
      <img src="assets/images/logo-2.png" class="logo">
    </div>
    <div class="large-4 columns">
      <ul class="topNav">
        <li><a href="#/home">Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
    <div class="large-5 columns text-right">
      <span class="helloUser">Hello {{headerMenuCtrl.user.lastname}}, {{headerMenuCtrl.user.firstname}} &nbsp;</span>
      <a ng-click="headerMenuCtrl.logout()" class="button round logout" value="Logout">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
    </div> 
  </div>
</div>